# Pandas

## Fácil

⚫1- Importe Pandas e printe a versão

In [2]:
#resposta
import pandas as pd
print(pd.__version__)

0.23.4

⚫2- Crie uma série pandas de cada um dos ítens abaixo: uma lista, array numpy e um dicionário

In [5]:
import pandas as pd
import numpy as np
minhalista = list('abcedfghijklmnopqrstuvwxyz')
meuarr = np.arange(26)
meudict = dict(zip(minhalista, meuarr))
#resposta
ser1 = pd.Series(minhalista)
ser2 = pd.Series(meuarr)
ser3 = pd.Series(meudict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

⚫3- Converta a série “ser” em um dataframe com seu índice como outra coluna no dataframe.

In [9]:
import pandas as pd
minhalista = list('abcedfghijklmnopqrstuvwxyz')
meuarr = np.arange(26)
meudic = dict(zip(minhalista, meuarr))
ser = pd.Series(meudict)
#resposta
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

⚫4- Combine ‘ser1’ e ‘ser2’ para formar um dataframe
import numpy as np

In [12]:
import pandas as pd
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
#resposta
df = pd.concat([ser1, ser2], axis=1)
print(df)

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

⚫5- Atribua um nome a série “ser” chamando-a de ‘alfabeto’.

In [14]:
import pandas as pd
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
#resposta
ser.name = 'Alfabeto'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: Alfabeto, dtype: object

## Médio

⚫1- Da variável ‘ser1’, remova os ítens presentes em ‘ser2’

In [15]:
import pandas as pd
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
#resposta
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

⚫2- Obtenha todos os ítens de ‘ser1’ e ‘ser2’ não comum a ambos.

In [17]:
import pandas as pd
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
#resposta
ser_u = pd.Series(np.union1d(ser1, ser2))  # união
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersecção
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

⚫3- Calcule o mínimo, 25º percentil, mediana, 75º e o máximo de ‘ser’:

In [21]:
import pandas as pd
import numpy as np
ser = pd.Series(np.random.normal(10, 5, 25))
#resposta
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 3.40177178,  7.67134415,  9.445488  , 13.37924173, 15.65118568])

⚫4- Da variável ‘ser’, matenha os 2 ítens mais frequentes como estão e substitua todo o resto por ‘Outro’.

In [29]:
import pandas as pd
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
#resposta
print("Dois mais frequentes:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Outro'
ser

Dois mais frequentes: 2    4
1    4
3    3
4    1
dtype: int64

0         1
1         2
2         1
3         2
4     Outro
5         1
6     Outro
7         1
8     Outro
9         2
10        2
11    Outro
dtype: object

⚫5- Coloque a série ‘ser’ em 10 decílios(decile) iguais e substitua os valores pelo nome da bandeja(bin)

In [30]:
import pandas as pd
ser = pd.Series(np.random.random(20))
#resposta
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1],labels=['1º', '2º', '3º', '4º', '5º', '6º', '7º', '8º', '9º', '10º']).head(10)

0    2º
1    1º
2    6º
3    7º
4    5º
dtype: category
Categories (10, object): [1º < 2º < 3º < 4º ... 7º < 8º < 9º < 10º]

## Difícil

⚫1- Da variável ‘ser’ extraia palavras que contenham 2 vogais ou mais:

In [32]:
import pandas as pd
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
#resposta
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

⚫2- Extraia emails válidos da série ’emails’. O padrão de regex para emails válidos é fornecido em ‘padrao’.

In [37]:
import pandas as pd
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
padrao ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
#resposta com EXPRESSÕES REGULARES
import re
padrao ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
em = emails.map(lambda x: bool(re.match(padrao, x)))
emails[em]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

⚫3- Obtenha as posições de picos(valores cercados por valores menores em ambos lados) da variável ‘ser’.

In [38]:
import pandas as pd
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
#resposta
dd = np.diff(np.sign(np.diff(ser)))
pico = np.where(dd == -2)[0] + 1
pico

array([1, 5, 7], dtype=int64)